{% extends 'base.html' %}
{% load static %}
  {% block title %} — Honours{% endblock %}
  {% block content %}
    <div class="honors-section">
      <h2 class="honors-title">Honors</h2>
      <div class="honors-list">
        <div class="honor">
          <img src="{% static 'PL_3.png' type='image/png' %}">
          <span class="honor-year">2020-2021</span>
        </div>
        <div class="honor">
          <img src="{% static 'UCL.png' type='image/png' %}">
          <span class="honor-year">2018-2019</span>
        </div>
        <div class="honor">
          <img src="{% static 'FACUP.png' type='image/png' %}">
          <span class="honor-year">2020-2021</span>
        </div>
        <div class="honor">
          <img src="{% static 'CWC.png' type='image/png' %}">
          <span class="honor-year">2020-2021</span>
        </div>
        <div class="honor">
          <img src="{% static 'SC.png' type='image/png' %}">
          <span class="honor-year">2020-2021</span>
        </div>
        <div class="honor">
          <img src="{% static 'UEL.png' type='image/png' %}">
          <span class="honor-year">2020-2021</span>
        </div>
        <div class="honor">
          <img src="{% static 'CC.png' type='image/png' %}">
          <span class="honor-year">2020-2021</span>
        </div>
        <div class="honor">
          <img src="{% static 'CS.png' type='image/png' %}">
          <span class="honor-year">2020-2021</span>
        </div>
      </div>
    </div>

  {% endblock %}